[user]
	email = julio.bacel@gmail.com
	name = Julio B
	signingkey = C865F6DCD00A7611
[pass]
	signcommits = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[alias]
	tree = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%G?<%an>%Creset %C(yellow)%d%Creset' --abbrev-commit
	ce = config --global -e
	cob = checkout -b
	logs = log --stat
	s = status
[diff]
	tool = vimdiff
[pager]
	log = /usr/share/git/diff-highlight/diff-highlight | less
	show = /usr/share/git/diff-highlight/diff-highlight | less
	diff = /usr/share/git/diff-highlight/diff-highlight | less
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
