#!/bin/bash
alias vim='nvim'
alias vi='nvim'

#colorize commands
alias du='du -csh'
alias df='df -Th'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias diff="colordiff -ru"
alias dmesg="dmesg --color"
alias tree='tree -Csh'

lsflags="-h -F --color --group-directories-first"
alias l='ls  -1 ${lsflags}'
alias ll='ls -1a ${lsflags}'
alias la='ls -la ${lsflags}'
alias ls='ls -p ${lsflags}'
alias edbashrc='vim ~/.bashrc && source ~/.bashrc'
alias ds='urxvt -cd $(pwd) &' #open new shell in same dir
shopt -s autocd
alias ...="cd ../.."
alias ....="cd ../../.."
alias -- -="cd - > /dev/null"
alias dl="cd ~/Downloads"
alias dc="cd ~/Documents"
alias calc='python3 -ic "from math import *; import cmath"'
alias g="git"
alias p="pacaur"
alias :q="exit"

# vim: ft=sh
