[user]
	email = julio.bacel@gmail.com
	name = Julio B
	signingkey = C865F6DCD00A7611
[pass]
	signcommits = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[commit]
	verbose = true
[alias]
	tree = log --graph --pretty=tree
	l = log --pretty=l --date=short --decorate=short
	la = log --all --pretty=la
	ls = log --stat
	logs = log --stat
	lo = log --oneline
	lr = log --pretty=reference
	cgrep = log --pickaxe-all -G
	ce = config --global -e
	alias = config --get-regexp 'alias.'
	s = status 
	sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
	refl = reflog --date=relative
	pastediff = "!f(){ git diff $@\
		| curl -i -F'file=@-' 'https://0x0.st' \
		| sed  -n -e '/^x-token/{s/.*: //;h}' \
			-e '${x;s/^/curl -Fdelete= -Ftoken=/;G;s/[\\r]*\\n/ /g;p;\
			      x;s/^/curl /;s/$/ | git apply/;p\
			     }' ; \
		}; f"
[pretty]
	tree = %C(cyan)%h%Creset %s %C(green)(%cr) %C(magenta)%G? %an %C(italic yellow)%d
	l = %C(cyan)%h %C(green)%ad %C(magenta)%><(17,mtrunc)%an %Creset%s%C(italic yellow)%d
	la = %C(cyan)%h %C(reset)%s %C(italic yellow)%d %C(green)(%cr) %C(magenta)%an%w(,,9)%+b

[diff]
	tool = vimdiff
	colorMoved = zebra
	colorMovedWS = allow-indentation-change
	algorithm = histogram
[pager]
	log = /usr/share/git/diff-highlight/diff-highlight | less
	show = /usr/share/git/diff-highlight/diff-highlight | less
	diff = /usr/share/git/diff-highlight/diff-highlight | less
	alias = awk '/^alias/ { \
			sub(\"^alias.\",\"\") ";"\
			$1 = sprintf(\"\\x1B[1";"31m%-7s\\x1B[0m\",$1) ";"\
			print $0 ";"\
		}' | less
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[interactive]
	singleKey = true
; [sendemail]
; 	smtpServer = 192.168.250.25
; 	smtpDomain = gitarch
; 	smtpAuth = none
