[user]
	email = julio.bacel@gmail.com
	name = Julio B
	signingkey = C865F6DCD00A7611
[pass]
	signcommits = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[commit]
	verbose = true
[alias]
	tree = log --graph --pretty=tree
	lh = log --graph --pretty=hg
	lhb = log --graph --pretty=hgb
	l = log --pretty=l --date=short --decorate=short
	la = log --all --pretty=la
	ls = log --stat
	logs = log --stat
	cgrep = log --pickaxe-all -G
	ce = config --global -e
	alias = config --get-regexp 'alias.'
	cob = checkout -b
	ap = add -p
	c = commit -v
	s = status 
	sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
	refl = reflog --date=relative
[pretty]
	tree = %C(cyan)%h%Creset %s %C(green)(%cr) %C(magenta)%G? %an %C(italic yellow)%d
	l = %C(cyan)%h %C(green)%ad %C(magenta)%><(17,mtrunc)%an %Creset%s%C(italic yellow)%d
	la = %C(cyan)%h %C(reset)%s %C(italic yellow)%d %C(green)(%cr) %C(magenta)%an%w(,,9)%+b
	hg = \
commit: %C(bold red)%h%Creset %C(red)[%H]%Creset %C(bold magenta)%d %Creset%n\
date: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%n\
author: %C(bold blue)%an%Creset %C(blue)[%ae]%Creset%n\
%C(cyan)%s%n%Creset
	hgb = \
commit: %C(bold red)%h%Creset %C(red)[%H]%Creset %C(bold magenta)%d %Creset%n\
date: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%n\
author: %C(bold blue)%an%Creset %C(blue)[%ae]%Creset%n\
%n%w(,6,6)%B%Creset

[diff]
	tool = nvimdiff
	colorMoved = zebra
	colorMovedWS = allow-indentation-change
	algorithm = histogram
[pager]
	log = /usr/share/git/diff-highlight/diff-highlight | less
	show = /usr/share/git/diff-highlight/diff-highlight | less
	diff = /usr/share/git/diff-highlight/diff-highlight | less
	alias = awk '/^alias/ { \
			sub(\"^alias.\",\"\") ";"\
			$1 = sprintf(\"\\x1B[1";"31m%-7s\\x1B[0m\",$1) ";"\
			print $0 ";"\
		}' | less
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[interactive]
	singleKey = true
